<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
    rel="stylesheet"/>

    <link
    href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
    rel="stylesheet"
    />

    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
    <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
    ></script>

    
/>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navbar-right">
                <i class="fa-solid fa-bars" onclick="toggleSidebar()"></i>
                <h4>Prova</h4>
            </div>
            <div class="profile-logout">
                <div class="profile-icon">
                    <center><h4>{{request.user.name|upper|slice:"0:1"}}</h4></center>
                </div>
                <div>
                    <span class="btn btn-primary"><a href="{% url 'logout_view' %}">LogOut</a></span>
                </div>
            </div>
        </div>
        <div class="side-nav" id="side-nav">
            {% if request.user.user_type == "Student" %}
            <div class="side-nav-links-wrapper">
                <div class="side-nav-links">
                    <i class="fa-solid fa-copy"></i>
                    <span><a href="{% url 'active_tests' %}">Active Tests</a></span>
                </div>
                <hr/>
                <div class="side-nav-links">
                    <i class="fa-solid fa-copy"></i>
                    <span><a href="{% url 'attempted_tests' %}">Attempted Tests</a></span>
                </div>
                <hr/>
                <div class="side-nav-links">
                    <i class="fa-solid fa-chart-line"></i>
                    <span><a href="{% url 'analytics_student' %}">Analytics</a></span>
                </div>
                <hr/>
            </div>
            {% endif %}

            {% if request.user.user_type == "Teacher" %}
            <div class="side-nav-links-wrapper">
                <div class="side-nav-links">
                    <i class="fa-solid fa-copy"></i>
                    <span><a href="{% url 'my_uploaded_tests' %}">My Tests</a></span>
                </div>
                <hr/>
                <div class="side-nav-links">
                    <i class="fa-solid fa-copy"></i>
                    <span><a href="{% url 'upload_test' %}">Upload Test</a></span>
                </div>
                <hr/>
                <div class="side-nav-links">
                    <i class="fa-solid fa-chart-line"></i>
                    <span><a href="{% url 'analytics_teacher' %}">Analytics</a></span>
                </div>
                <hr/>
            </div>
            {% endif %}
        </div>
    </nav>
</body>
<script>
    var sidebar = document.getElementById("side-nav")
    sidebar.style.display = "none"
    function toggleSidebar(){
        console.log("clicked")
        var pageBody = document.getElementById("page-body")
        if(sidebar.style.display == "none"){
            sidebar.style.display = "block"
            console.log(screen.width)
            if(screen.width > 800){
                pageBody.style.marginLeft = "300px"
            }
            else{
                pageBody.style.marginLeft = "50px"
            }
        }
        else{
            sidebar.style.display = "none"
            pageBody.style.marginLeft = "50px"
        }
    }
</script>
</html>